#Annoying hidden directory from Mac OS
.DS_Store

#Build files
*.[os]
*.ii
*~

#Bin and build directories
build
bin
install

#Remove Eclipse subfolders
RemoteSystemsTempFiles
Debug

#Remove all hidden files except .gitignore
.*
!.gitignore
